%nav.navbar.navbar-dark.bg-inverse.navbar-full{:role => "navigation"}
  =link_to_unless_current "Raindrops", root_url, :class => "navbar-brand" do
    %span.navbar-brand
      Raindrops
  .nav.navbar-nav.pull-md-right{:style => "display:inline;"}
    =link_to "About", '/about', :class => "nav-link nav-item"
    =render (person_signed_in? ? "shared/logged_in_nav" : "shared/logged_out_nav")

