.row
  .col-md-10.col-md-offset-1
    %em.display-4
      Raindrops on roses and whiskers on kittens
      %br
      Bright copper kettles and warm woolen mittens
      %br
      Brown paper packages tied up with strings
      %br
      =link_to links_path do
        These are a few of my favorite things

.row
  .alert.alert-success
    Well
